@import 'tailwindcss';

@custom-variant dark (&:where([data-color-scheme="dark"], [data-color-scheme="dark"] *));

@theme {
  --color-day: hsl(220 100% 98%);
  --color-gray: hsl(231 10% 45%);
  --color-muted: hsl(231 10% 75%);
  --color-night: hsl(220 46% 16%);

  --font-mono: var(--font-lato);
  --font-sans: var(--font-lato);
  --font-sign: var(--font-caveat);

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes puff {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:focus-visible {
  @apply outline-0;
}